body {
    background-color: #e0ffe0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #00ff00;
    padding: 10px;
    text-align: center;
}

header h1 {
    color: #fff;
}

nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}
